/* blog_app/static/css/style.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    width: 100%;
    height: auto;
}

header h1 {
    padding: 1rem;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav span {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

nav a, .logout-form button {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

nav a:hover, .logout-form button:hover {
    background-color: #555;
    transition: transform .6s;
    transform: scale(1.1);
}

.logout-form button {
    background: none;
    border: none;
    font-size: inherit;
}

/* Main Content Styles */
main {
    padding: 2rem;
    max-width: 800px;
    min-height: 80vh;
    margin: 0 auto;
}

article, h2, h3, h4 {
    margin-bottom: 1rem;
}

article {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.login-form, .post-form, .comment-form {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form input, .login-form textarea, .login-form button {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post-form input, .post-form textarea, .post-form button {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment-form input, .comment-form textarea, .comment-form button {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button, .post-form button, .comment-form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover, .post-form button:hover, .comment-form button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1px;
}